.loader{
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 1px dashed teal;
  animation: load 1s infinite linear;
}

@keyframes load {
  0%{
    transform: rotate(0) scale(1);
  }
  100%{
    transform: rotate(360deg) scale(1.5);
  }
}